*.json
*.log
*.tws
.project
.settings
/docker-tests/generated-config-bootstrap/init.sh
/docker-tests/gitlab-bash-api-config-for-docker/generate-private-token
/docker-tests/gitlab-bash-api-config-for-docker/generated-configuration
/my-config/
/test/
/tests-result/
